[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image
	branch = 9f18827a2f8b051323b56f42fe175c98d674fa16
[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
	branch = SDL2
[submodule "external/SDL_mixer"]
	path = external/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
	branch = SDL2
